# https://docs.github.com/en/actions/writing-workflows/workflow-syntax-for-github-actions
on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
name: build

jobs:
  lint:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2025]
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt, clippy
      - run: cargo fmt --check
      - run: cargo clippy -- -Dwarnings
      - run: cargo build
      - run: cargo test
